*,
*::before,
*::after {
  box-sizing: border-box;
}


h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
.container {
  width: 1440px;
  margin: 0 auto;
}

/* Kodun geri kalanı */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
}

.page-title {
  font-weight: bold;
  font-size: 56px;
  line-height: 1.071;
  color: white;
  margin-top: 188px;
 text-align: center;
  width: 496px;
  height: 120px;
}

.button {
  font-weight: 500;
  letter-spacing: 4%;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  margin-top: 48px;
  margin-bottom: 188px;
}

.button:hover {
  background-color: #444bbf;
}

.link {
  font-size: 12px;
  line-height: 1.33;
  text-decoration: underline;
  color: #2e2f42;
  text-decoration: none;
}

.page-nav {
  gap: 40px;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-bottom: 24px;
  padding-top: 24px;

}

.page-nav .link:hover {
  color: #4d5ae5;
}

.page-nav .link:active {
  text-decoration: underline;
  color: #4d5ae5;
}

.page-title3 {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 0.83;
  margin-bottom: 8px;

}


.small-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 4%;
}

.page-title2-1 {
  font-size: 36px;
  font-weight: bold;
  color: #2e2f42;
  line-height: 0.9;
 text-align: center;
 margin-bottom: 72px;
}
.page-title2-2 {
  font-size: 36px;
    font-weight: bold;
    color: #2e2f42;
    line-height: 0.9;
    text-align: center;
    margin-bottom: 72px;


}

/*ödev3*/
.logo {
  display: flex;
  gap: 0;
  margin-top: 24px;
  margin-bottom: 24px;
 justify-content: space-around;


}

.logoweb {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  color: #4d5ae5;
}

.logoStudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  color: #2e2f42;

}

/*ödev3*/
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}




.page-section1 {
  display: flex;
  padding-left: 156px;
  padding-right: 156px;
  list-style-type: none;
  justify-content: space-between;
  gap: 24px;
}



.page-list {
  display: flex;
  gap: 24px;
  list-style-type: none;
  justify-content: center;
  border-radius: mixed;

}
.page-list-portfolio {
  display: flex;
    list-style-type: none;
    justify-content: center;
    border-radius: mixed;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
   
}
.Bölüm2 {
background-color: #ffffff;
gap: 8px;
text-align: center;
padding-bottom: 32px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
 0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 2px 1px rgba(46, 47, 66, 0.08);
}
.Bölüm2 > .page-title3{
  margin-top: 32px;

}

  .bölüm3 {
    border-bottom: 1px solid #e7e9fc ;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc ;
    gap: 8px;
    padding-bottom: 32px;
    position: relative;

  }
  .kare {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4D5AE5;

    transform: translatey(100%);
      transition:transform 250 ms cubic-bezier(0.4,0,0.2,1)  
    
  }
  .bölüm3:hover.kare {
    transform: translateY(0);
  }
  .bölüm3:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);


  }
  .bölüm3 > .page-title3{
    margin-top: 32px;
  }
  
  

/*ödev3*/
header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  justify-content: space-around;
}

.logoStudio2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  color: #f4f4fd;

}

address {
  display: flex;
  gap: 40px;
}

.address1 {
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;



}

.address2 {
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 153px;

}

.section1 {
  display: flex;
    flex-direction: column;
    align-items: center;
    /*ödev4*/
   
   background-image:
  linear-gradient(rgba(46, 47, 66, 0.7)),
    url(../images/people-office\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;}
.page-nav:hover::after {
  content: "";
  color: #444bbf;
  text-decoration: underline;
}
/*ödev4*/
.box {
  display: flex;
  position: relative;
  padding-left: 156px;
  padding-right: 156px;
  list-style-type: none;
  justify-content: space-between;
  gap: 24px;
  margin-top: 120px;
  margin-bottom: 8px;

}

.icon1 {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  padding: 24px 100px 24px 100px;
}
.list-icon {
  display: flex;
  gap: 24px;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
  transition: background-color;
  align-items: center;
}
.list-icon2 {
  display: flex;
    justify-content: center;
    align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  
}
.icon {
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
}
.list-icon2:hover{
background-color: #404bbf;
}
.section2 {
  background-color: #f4f4fd;
  border-radius: mixed;
}

.footer {
  display: flex;
  background-color: #2e2f42;
  height: 312px;
  align-content: center;
  gap: 120px;
}
.div 
{
  margin-top: 100px;

}
.divson {
  margin-top: 100px;
}

/*ödev4*/
.logoson {
  margin-left: 156px; 
}
.mediason {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
    border-radius: 50%;
  transition: background-color;
  width: 40px;
  height: 40px;

}
.mediason:hover {
  background-color: #404bbf;
}


.finalp {
  color: #f4f4fd;
  margin-left: 156px;
  height: 72px;
  max-width: 264px;
  margin-top: 16px;

}
.sonicon {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

.sosyal {
font-size: medium;
color: #ffffff;
padding-bottom: 16px;



}
.box1
{position: relative;
overflow: hidden;
}
.overlay {
  background-color: #4d5ae5;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
transform: translateY(100%);
}
.box1:hover .overlay {
  transform: translateY(0);
}
.overlay >p{
  color: #f4f4fd;
}
.form {
  padding-top: 109px;

}

.başlık {
  color: #ffffff;
  margin-bottom: 24px;
}

.abone {
  background-color: #4d5ae5;
  gap: 16px;
  width: 165px;
  height: 40px;
  margin-left: 24px;
  color: #ffffff;
  justify-content: center;

}

.label>input {
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: #2e2f42;
}

.label {
  color: #ffffff;
  gap: 16px;
}

.label>input {
  color: #ffffff;
}

.abone>.icon {
  color: w;
  width: 24px;
  height: 24px;
  justify-content: center;
}